*{
	margin: 0;
	padding: 0;
}

header{
	background: linear-gradient(to right, rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(./headerbackground.jpg);
	background-size: cover; 
	text-align: center;
	height: 20rem;
	margin: auto;
}

header>nav{
	background-color: rgb(247,247,247);
	width: 100%;
	height: 4rem;
	vertical-align: middle;
}

#Logo{	
	height: 4rem;
	width: 10rem;
	float: left;
}

header>nav ul{
	list-style: none;
	float: right;
}

header>nav ul li{
	display: inline;
	margin: 1rem;
}

header>nav ul li a{
	text-decoration: none;
	color: (46,91,124);
	line-height: 4rem;	
}

header h1{
	color: white;
	margin-top: 6rem;
}

header input{
	width: 60%;
	margin-bottom: 6rem;
}

main {
	background-color: grey;
}
/* La primera sección */
#cabecera--articulos {       
	margin-left: 5rem;
	margin-right: 5rem;
	/* margin-top: 2rem;   */
	padding-left: 2rem;
	padding-bottom:2rem;
	background-color: white;
} 
#restaurantes {       
   font-size: 14px;
}
#mejores--restaurantes {       
   font-size: 35px;
   margin-bottom:0.5rem;
}
 #p-1 {       
	margin-top: 0.1rem;
	padding-bottom:1rem;
}
 /* Aquí comienzo la descripcion del restaurante */
main>a {       
   color: red;   
}

.section-u {       
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 3rem; 
	padding-left: -7rem;
	padding-right: -10rem;
	background-color: white;
}   
figure {       
   padding-top: -2px;
}
figure,img {       
   float:left;
   width: 40%; 
   margin-right: -100px;
}
.nom-restau {       
   font-size: 14px;   
  }
.u-restau {       
   color: grey;
   font-size: 14px;   
  }
.estrellas {       
   width: 20%;
   margin-left: 7rem;
   margin-top: 0.2rem;
} 
div {       
  padding-top: 1rem;
  margin-right: 10rem;
}   
hr {       
   margin-top: 2rem;
   margin-left: 1rem; 
   margin-right: 1rem; 
}
aside {       
   margin-top: -12px;
   padding-bottom: 4.8rem;
  }  

  footer {
    background-color: rgba(45, 45, 45, 0.98);
    color: darkgray;
   padding: 5%;
   bottom: 0;
}

footer>nav>h1{
   color: white;
}

footer>nav {
	display: inline-block;
    font-size: 11px;
   position: center;
   bottom: 0;
   padding: 4.5%;
   padding-top: 1%;
   vertical-align: top;
   margin-bottom: 4px;
}

footer>nav>ul>li {
    list-style-type: none;
    line-height: 1.8em;
}

footer>nav>ul>li>a {
   text-decoration-color: none;
   text-decoration: none;
   color: darkgray;
    display: flex;

}

footer>section {
    font-size: 11px;
}

footer>section>p>a {
    text-decoration-color: none;
    text-decoration: none;
    color: white;
}