@import url('<link href="https://fonts.googleapis.com/css?family=Sarabun:400,700" rel="stylesheet">');

html, body, * {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Sarabun", sans-serif;
}
a {
	text-decoration: none;
	color: #FFF;
}

header {
	background-color: rgba(45, 45, 45, 0.98);
	width: 100%;
	height: 3.5rem;
	line-height: 3.5rem;
}
header>nav>ul>li {
	display: inline-block;
	font-size: 1.1rem;
	margin-right: 1.1rem;
	margin-left: 1.1rem;
}

header>nav {
	text-align: center;
}

footer {
	background-color: rgba(45, 45, 45, 0.98);
	color: darkgray;
    padding: 5%;
    bottom: 0;

}

h1{
    color: white;
}

footer>nav {
	display: inline-block;
	font-size: 11px;
    position: center;
    bottom: 0;
    padding: 5%;
    padding-top: 1%;
}

a {
    text-decoration-color: none;
    text-decoration: none;
    color: darkgray;
}

footer>nav>ul>li {
	list-style-type: none;
    line-height: 1.8em;

}

footer>section {
    font-size: 11px;
}
